
@{
	ViewBag.Title = "Index";
}

<div class="row">
	<div class="col-md-8">

	</div>
	<div class="col-md-4" style="padding:10px">

		<div class="card">
			<div class="card-header">
				<ul class="nav nav-pills card-header-pills flex-sm-row">
					<li class="nav-item">
						<a class="nav-link active" href="#" id="link-pie">Pie Chart</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" id="link-line">Line Chart</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span id="period">Today's Portions</span></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#" id="link-today">Today</a>
							<a class="dropdown-item" href="#" id="link-week">This Week</a>
							<a class="dropdown-item" href="#" id="link-month">This Month</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<canvas id="chart-portions"></canvas>
			</div>
		</div>
	</div>
</div>

@section scripts {

	<script src="~/MPScripts/Dashboard.js"></script>

}